<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lars.www.mapper.QrtzJobDetailsMapper">

	<resultMap id="BaseResultMap" type="com.lars.www.entity.QrtzJobDetails">
		<id column="SCHED_NAME" property="schedName" />
		<result column="JOB_NAME" property="jobName" />
		<result column="JOB_GROUP" property="jobGroup" />
		<result column="DESCRIPTION" property="description" />
		<result column="JOB_CLASS_NAME" property="jobClassName" />
		<result column="IS_DURABLE" property="isDurable" />
		<result column="IS_NONCONCURRENT" property="isNonconcurrent" />
		<result column="IS_UPDATE_DATA" property="isUpdateData" />
		<result column="REQUESTS_RECOVERY" property="requestsRecovery" />
		<result column="JOB_DATA" property="jobData" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        SCHED_NAME AS schedName, JOB_NAME AS jobName, JOB_GROUP AS jobGroup, DESCRIPTION AS description, JOB_CLASS_NAME AS jobClassName, IS_DURABLE AS isDurable, IS_NONCONCURRENT AS isNonconcurrent, IS_UPDATE_DATA AS isUpdateData, REQUESTS_RECOVERY AS requestsRecovery, JOB_DATA AS jobData
    </sql>




	<resultMap id="ListBaseResultMap" type="com.lars.www.entity.JobAndTrigger">
		<result column="JOB_NAME" property="job_name" />
		<result column="JOB_GROUP" property="job_group" />
		<result column="JOB_CLASS_NAME" property="job_class_name" />
		<result column="TRIGGER_NAME" property="trigger_name" />
		<result column="TRIGGER_GROUP" property="trigger_group" />
		<result column="CRON_EXPRESSION" property="cron_expression" />
		<result column="TIME_ZONE_ID" property="time_zone_id" />
		<result column="TRIGGER_TYPE" property="trigger_type" />
		<result column="TRIGGER_STATE" property="trigger_state" />
	</resultMap>

	<select id="findJobAll" resultMap="ListBaseResultMap">
			SELECT
				qrtz_job_details.JOB_NAME,
				qrtz_job_details.JOB_GROUP,
				qrtz_job_details.JOB_CLASS_NAME,
				qrtz_triggers.TRIGGER_NAME,
				qrtz_triggers.TRIGGER_GROUP,
				qrtz_cron_triggers.CRON_EXPRESSION,
				qrtz_cron_triggers.TIME_ZONE_ID,
				qrtz_triggers.TRIGGER_TYPE,
				qrtz_triggers.TRIGGER_STATE
			FROM
				qrtz_job_details
			left JOIN qrtz_triggers ON qrtz_job_details.JOB_NAME = qrtz_triggers.JOB_NAME
			left JOIN qrtz_cron_triggers ON  qrtz_triggers.TRIGGER_NAME = qrtz_cron_triggers.TRIGGER_NAME
			AND qrtz_triggers.TRIGGER_GROUP = qrtz_cron_triggers.TRIGGER_GROUP
    </select>
</mapper>
